<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <meta name="description" content="A simple to do app. Nothing more, nothing less.">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="dns-prefetch" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap" rel="stylesheet">
    <link href="assets/css/app.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
</head>
<body>
    <div class="page">
        <header class="header">
            <div class="header__inner">
                <div class="header__section header__section--left"></div>
                <div class="header__section header__section--center">
                    <a class="header__logo" href="{{ site.url }}">
                        <img src="/assets/img/logo.svg" alt="Harlist logo">
                    </a>
                </div>
                <div class="header__section header__section--right">
                    <nav class="menu menu--right">
                        <a class="menu__item" href="{{ site.app_url }}">
                            Login
                        </a>

                        <a class="menu__item" href="{{ site.app_url }}">
                            Register
                        </a>
                    </nav>
                </div>
            </div>
        </header>
        
        <main class="main">
